

/* MOVIE DISPLAY PAGE */
#movie-list {
    text-align: center;
    /* border: 5px solid darkslateblue; */
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: 
      'blank header'
      'sidebar main';
    padding: 0 1%;
    /* background-color: var(--app-background-color); */
    color: var(--text-color);
    }
  
  #movieHeader-div {
    grid-area: header;
    /* border: 2px solid yellowgreen; */
    display: grid;
    align-content: center;
  }
  
  #movieSidebar-div {
    grid-area: sidebar;
    min-width: 200px;
    /* border: 2px solid yellowgreen; */
  
  }
  
  #movieList-div {
    grid-area: main;
  padding: 10px 10px;
  /* background-color: black; */
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: 
    repeat(4, 1fr);
  gap: 10px 10px;
  }
  
  .movieImage {
    width: 150px;
    height: 220px;
    border: 1px solid darkred;
    border-radius: 5px;
    box-shadow: 5px 5px 5px darkred;
  }
  
  /* MOVIE DISPLAY PAGE */
  