

#add-movie {
    text-align: center;
    /* border: 5px solid darkslateblue; */
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: 
      'blank header'
      'sidebar main';
    padding: 0 1%;
    background-color: var(--app-background-color);
    color: var(--text-color);
}

#addHeader-div {
    grid-area: header;
    /* border: 2px solid yellowgreen; */
}

#addSidebar-div {
    grid-area: sidebar;
    min-width: 200px;
    /* border: 2px solid yellowgreen; */
}

#addMain-div {
    grid-area: main;
}