

#add-movie {
    text-align: center;
    /* border: 5px solid darkslateblue; */
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: 
      'blank header'
      'sidebar main';
    padding: 0 1%;
    height: 800px;
    /* background-color: var(--app-background-color);
    color: var(--text-color); */
}

#addHeader-div {
    grid-area: header;
    /* border: 2px solid yellowgreen; */
    display: grid;
    justify-content: center;
    align-items: end;
}


#addSidebar-div {
    grid-area: sidebar;
    min-width: 200px;
    /* border: 2px solid yellowgreen; */
}

#addMain-div {
    grid-area: main;
    display: grid;
    height: 450px;
    /* border: 2px solid yellowgreen; */
    padding-top: 10%;
}

#add-description {
    width: 90%;
    height: 150px;
  }

  